@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

*:focus {
    outline: none;
}

body {
    width: 100%;
    background: #fafafa;
    position: relative;
    font-family: 'roboto', sans-serif;
}

.navegacion {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 50px;
    background: #fff;
    border-bottom: 1px solid #dfdfdf;
    display: flex;
    justify-content: center;
    padding: 5px 0;    
}

.contenedor-navegacion {
    width: 70%;
    max-width: 1000px;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    height: 100%;
    margin-top: 5px;
}

.caja-buscar {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 250px;
    height: 36px;
    background: rgba(239, 239, 239, 1);
    border: 1px solid #dfdfdf;
    border-radius: 8px;
    color: rgba(0, 0, 0, 0.5);
    text-align: center;
    text-transform: capitalize;
}

.caja-buscar {
    display: flex;
    flex-direction: row-reverse;
}

.lupa {
    width: 20px;
    margin-right: 15px;    
}

.buscar {
    border: 0;
    background: rgba(239, 239, 239, 1);
}

.items-navegacion {
    height: 22px;
    position: relative;
}

.icono {
    height: 100%;
    cursor: pointer;
    margin: 0 10px;
    display: inline-block;
}

.perfil-usuario {
    width: 22px;
    border-radius: 50%;
    background-image: url(../assets/main_img/profile-pic.png);
    background-size: cover;
}

.main {
    width: 100%;
    padding: 40px 0;
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.contenedor {
    width: 70%;
    max-width: 1000px;
    display: grid;
    grid-template-columns: 60% 40%;
    gap: 30px;
}

.left-col {
    display: flex;
    flex-direction: column;
}

.status-contenedor {
    width: 100%;
    height: 120px;
    background: #fff;
    border: 1px solid #dfdfdf;
    border-radius: 2px;
    padding: 10px;
    padding-right: 0;
    display: flex;
    align-items: center;
    overflow: hidden;
    overflow-x: auto;
}

.status-contenedor::-webkit-scrollbar {
    display: none;
}

.status-card {
    flex: 0 0 auto;
    width: 80px;
    max-width: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 15px;
}

.imagen-perfil {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    overflow: hidden;
    padding: 3px;
    background: linear-gradient(45deg, rgb(255,230,0), rgb(255,0,128) 80%);
}

.imagen-perfil img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
    border: 2px solid #fff;
}

.usuario {
    width: 100%;
    overflow: hidden;
    text-align: center;
    font-size: 12px;
    margin-top: 5px;
    color: rgba(0, 0, 0, 0.5);
}

.post {
    width: 100%;
    height: auto;
    background: #fff;
    border: 1px solid #dfdfdf;
    margin-top: 40px;

}

.info {
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}

.info .usuario {
    width: auto;
    font-weight: bold;
    color: #000;
    font-size: 14px;
    margin-left: 10px;
}

.info .opciones {
    height: 10px;
    cursor: pointer;
}

.info .usuario {
    display: flex;
    align-items: center;
}

.info .imagen-perfil {
    height: 40px;
    width: 40px;
    padding: 0;
    background: none;
}

.info .imagen-perfil img{
    border: none;
}

.post-imagen {
    width: 100%;
    height: 500px;
    object-fit: cover;
}

.post-contenido {
    width: 100%;
    padding: 20px;
}

.likes {
    font-weight: bold;

}

.descripcion {
    margin: 10px 0;
    font-size: 14px;
    line-height: 20px;
}

.descripcion span {
    font-weight: bold;
    margin-right: 10px;
}

.post-time {
    color: rgba(0, 0, 0, 0.5);
    font-size: 12px;
}

.comentario-contenedor {
    width: 100%;
    height: 50px;
    border-radius: 1px solid #dfdfdf;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.comentario-contenedor .icono {
    height: 30px;
}

.caja-comentario {
    width: 80%;
    height: 100%;
    border: none;
    outline: none;
    font-size: 14px;
}

.comentario-btn,
.accion-btn {
    width: 70px;
    height: 100%;
    background: none;
    border: none;
    outline: none;
    text-transform: capitalize;
    font-size: 14px;
    color: rgb(0, 162, 255);
    opacity: 0.5;
}

.reaccion-contenedor {
    width: 100%;
    height: 50px;
    display: flex;
    margin-top: -20px;
    align-items: center;
}

.reaccion-contenedor .icono {
    height: 25px;
    margin: 0;
    margin-right: 20px;
}

.reaccion-contenedor .icono.save {
    margin-left: auto;
}

.der-col {
    padding: 20px;
}

.perfil-tarjeta {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 10px;

}

.perfil-tarjeta .imagen-perfil {
    flex: 0 0 auto;
    padding: 0;
    background: none;
    width: 40px;
    height: 40px;
    margin-right: 10px;
}

.perfil-tarjeta:first-child .imagen-perfil {
    width: 70px;
    height: 70px;
}

.perfil-tarjeta .imagen-perfil img {
    border: none;
}

.perfil-tarjeta .usuario {
    font-weight: 500;
    font-size: 14px;
    color: #000;
}

.sub-texto {
    color: rgba(0, 0, 0, 0.5);
    font-size: 12px;
    font-weight: 500;
    margin-top: 5px;
}

.accion-btn {
    opacity: 1;
    font-weight: 700;
    font-size: 12px;
}

.texto-sugerencias {
    font-size: 14px;
    color: rgba(0, 0, 0, 0.5);
    font-weight: 700;
    margin: 20px 0;
}

