:root {
    --fondo: #255255255;
}

body {
    background-color: rgb(250, 250, 250);
    overflow: scroll;
    font-family: "Segoe UI",Roboto,Helvetica,Arial,sans-serif;
}

.contenedor_principal {
    display: flex;
    flex-direction: column;
}

.navegacion_superior {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
    margin: 5px;    
    
}

.iphone {
    align-self: center;
    background-image: url(/assets/iphone.png);
    background-position: -46px 0;    
    flex-basis: 380.32px;
    margin-bottom: 12px;
    margin-top: 32px;
    height: 600px;
    width: 600px;
}

.navegacion_superior-login {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    padding: 25px;
    height: 714px;
    width: 350px;    
}

.navegacion_inferior {
    display: flex;
    flex-direction: column;
    font-size: 12px;
}

.navegacion_inferior-enlaces {
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-content: center;
    
}

.navegacion_inferior-idiomas, .pais {
    display: flex;
    justify-content: center;

    
}

.enlaces {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 5px;
    margin: 5px;  
    
}

article {
    display: flex;
    
    justify-content: center;
}

.descarga, .login, form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.descarga_boton {
    display: flex;
    justify-content: space-around;
    
}

.store {
    height: 40px;
    padding: 5px;
}

.caja {
    background-color: rgb(255, 255, 255);
    border: 1px solid rgb(219, 219, 219);
    border-radius: 1px;
    align-items: center;
    padding: 10px 0;
    margin: 0 0 10px;
}

.boton_inicio {
    box-sizing: border-box;
    cursor: pointer;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Helvetica,Arial,sans-serif;
    font-size: 14px;
    font-weight: 600;
    padding: 5px 9px;
    text-align: center;
    text-transform: inherit;
    width: 80%;
    border: 1px solid transparent;
    border-radius: 4px;
    background-color: rgb(0, 149, 246);
    color: white;
    

}

a, footer {
    text-decoration: none;
    color: rgb(142, 142, 142);
}

.screenshot {
    margin-top: 13px;
    margin-left: 55px;
}

.lista {
    opacity: 0;
    cursor: pointer;
    position: absolute;
    
}

.flecha {
    display: block;
    transform: rotate(180deg);
    margin-left: 100px;
    position: relative;
    margin-right: 50px;
}

.reg {
    color: rgb(0, 149, 246);
    font-size: 14px;
    line-height: 18px;
}

.linea {
    background-color: rgb(219, 219, 219);
    height: 1px;
    width: 111px;
    position: relative;
    top: .45em;
}

.separador {
    display: flex;
    margin: 10px 40px 18px;
    align-items: center;
    justify-content: space-around;
    box-sizing: border-box;
    position: relative;
}