:root {
    --fondo: #255255255;
}

body {
    background-color: rgb(250, 250, 250);
    overflow: scroll;
    font-family: "Segoe UI",Roboto,Helvetica,Arial,sans-serif;
}

.contenedor_principal {
    display: flex;
    flex-direction: column;
}

.navegacion_superior {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
    margin: 5px;    
    
}

.iphone {
    
    background-image: url(/assets/iphone.png);
    background-repeat: no-repeat;
}

.navegacion_superior-login {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    padding: 25px;
}

.navegacion_inferior {
    display: flex;
    flex-direction: column;
    
}

.navegacion_inferior-enlaces {
    display: flex;
    flex-direction: column;
    
}

.navegacion_inferior-idiomas {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    
}

.enlaces {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 5px;
    margin: 5px;  
    
}

article {
    display: flex;
    
    justify-content: center;
}

.descarga, .login, form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.descarga_boton {
    display: flex;
    justify-content: space-around;
    
}

.store {
    height: 40px;
    padding: 5px;
}

.caja {
    border: 1px solid black;
    border-radius: 1px;
    align-items: center;
}

.boton_inicio {
    box-sizing: border-box;
    cursor: pointer;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Helvetica,Arial,sans-serif;
    font-size: 14px;
    font-weight: 600;
    padding: 5px 9px;
    text-align: center;
    text-transform: inherit;
    width: 100%;
    border: 1px solid transparent;
    border-radius: 4px;
    background-color: rgb(0, 149, 246);
    color: white;
    margin: auto;
}

a {
    text-decoration: none;
    color: rgb(142, 142, 142);
}